{{ form.csrf_token }}
<fieldset>
  <legend>Pokemon Information:</legend>

  {{ form.name.label }}
  {{ form.name }}
  <ul>
    {% for error in form.name.errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>

  {{ form.photo_url.label }}
  {{ form.photo_url }}
  <ul>
    {% for error in form.photo_url.errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>

  {{ form.region.label }}
  {{ form.region }}
  <ul>
    {% for error in form.region.errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>

  {{ form.description.label }}
  {{ form.description(rows="10") }}
  <ul>
    {% for error in form.description.errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>

  {{ form.submit }}
</fieldset>