{% extends 'base.html' %}

{% block content %}

<div class="region">
  <h1>{{ region.name }}</h1>
  <img src="{{ region.photo_url }}" alt="region photo" width="500px">
  <p><strong>Description: </strong>{{ region.description }}</p>
</div>

<h2>Pokemon in {{ region.name }}</h2>

<div class="pokemon">
  {% for pokemon in region.pokemon %}
    <div class="pokemon-details">
      <a href="/pokemon/{{ pokemon.name }}">
        <img src="{{ pokemon.photo_url }}" alt="{{ pokemon.name }}" width="215px">
        <p><strong>{{ pokemon.name }}</strong></p>
      </a>
    </div>
  {% endfor %}
</div>

<h2>Edit Region</h2>

<form method="POST" action="{{ url_for('main.region_details', region_name=region.name) }}">
  {% include 'forms/region_form.html' %}
</form>

{% endblock %}