<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokedex App</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
    <nav>
      <a href="/">Home</a>
      <div>
        {% if current_user.is_authenticated %}
          <a href="/new_region">Add Region</a>
          <a href="/new_pokemon">Add Pokemon</a>
          <a href="/my_teams">My Teams</a>
          <a href="/logout">Log Out</a>
        {% else %}
          <a href="/new_region">Add Region</a>
          <a href="/new_pokemon">Add Pokemon</a>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        {% endif %}
      </div>
    </nav>

    {% if current_user.is_authenticated %}
      <p>You are logged in as <strong>{{ current_user.username }}</strong></p>
    {% elif current_user.is_anonymous %}
      <p>You are browsing anonymously</p>
    {% endif %}

    {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
    {% endfor %}

    {% block content %}{% endblock %}
  </div>
</body>

</html>